<!DOCTYPE html>
<html>

<head>
    <title>Canvas Drawing</title>

    <link rel="stylesheet" type="text/css" href="../static/css/style.css">
</head>

<body>
    <table width="100%" style="font-family: Cambria;">
        <tr>
            <td>
            <canvas id="myCanvas"></canvas>
            </td>
            <td >
            <h2><u>Welcome to digit recogonizer</u> <br> Created by Akhil 2020BCS0059</h2>
            </td>

        </tr>
    </table>

    <br>

    <button onclick="reset()">Reset</button>
    <button onclick="save()">Submit</button>
    <h1>The predicted value is <pr id="result"> </pr></h1>
</body>
<script src="../static/js/edit.js"> </script>

</html>